:root {
    --head-c:#2c3f50;
    --hero-c:#1abc9c;
    --footer-c:#3b546d;
}


/* COMMON */


hr {
    width: 20%;
    border: 2px solid;
    opacity: 1;
}

/* HEADER */
.ms_bg-color-header {
    background-color:var(--head-c);
}

.ms_text-white {
    color: white;
}


/* HERO */
.ms_bg-color {
    background-color: var(--hero-c);
}

.ms_margin-top {
    margin-top: 3.5rem;
}

.avatar{
    width: 70%;
    aspect-ratio: 1 / 1;
}

@media screen and (min-width: 576px) {
    .avatar {
        width: 40%;
    }
}


/* ABOUT ME */
.ms_small-container {
    width: 70%;
}


/* CONTACT ME SECTION */
.bb {
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0%;
}

.ms_btn-change-green {
    background-color: var(--hero-c);
}


/* FOOTER */
.ms_bg-c-foot {
    background-color: var(--footer-c);
}

.circle {
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 40px;
}

.ms_scale {
    scale: 1.3;
}

.ms_deep-foot {
    background-color: var(--head-c);
}

.ms_green-text {
    color: var(--hero-c);
}
