:root {
    --head-c:#2c3f50;
    --hero-c:#1abc9c;
}

/* HEADER */
.ms_bg-color-header {
    background-color:var(--head-c);
}

.ms_text-white {
    color: white;
}


/* HERO */
.ms_bg-color {
    background-color: var(--hero-c);
}

.ms_margin-top {
    margin-top: 3.5rem;
}

.avatar{
    width: 70%;
    aspect-ratio: 1 / 1;
}

@media screen and (min-width: 576px) {
    .hero img {
        width: 40%;
    }
}


/* about section */
.ms_small-container {
    width: 70%;
}
